<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Location</title>
</head>
<body>
    <form action="." method="POST">
      <h3>Hello.  Please Tell us where you are:</h3>
      <br><br>
      {% csrf_token %}
      {%  if form.errors  %}
        Please correct the error{{ form.errors|pluralize }} below:
        {{ form.all.errors }}
      {% endif %}
      <table>
        {{ form.as_table }}
      </table>
      <br><br>
      <input name='checkin' value="I am checking IN" type="submit"/>
    </form>
</body>
</html>